In [1]:

import time
 
if __name__ == '__main__':
 
    x = "01/01/2020"
    y = "01/31/2020"
 
    first = time.strptime(x, "%m/%d/%Y")
    second = time.strptime(y, "%m/%d/%Y")
 
    if first < second:
        print('First date is less than the second date.')
    elif first > second:
        print('First date is more than the second date.')
    else:
        print('Both dates are the same.')

First date is less than the second date.

In [4]:
from datetime import datetime, date, time

In [7]:
date1 = date(2022,3,27)
date1

datetime.date(2022, 3, 27)

In [9]:
time1 =time(13,27,45,4600)
print(time1)

13:27:45.004600

How to use timedelta object in Python

In [10]:
dt1 = datetime(2022,3,27,13,27,45,46000) 
dt2 = datetime(2022,6,30,14,28) 
tdelta = dt2 - dt1 
print(tdelta) 
print(type(tdelta))

95 days, 1:00:14.954000
<class 'datetime.timedelta'>

How to find time difference between two dates

In [11]:
today =datetime.now()
print(today)

2023-09-02 16:14:43.846811

In [13]:
bday = datetime(2023,11,27,1,11)
print(bday)

2023-11-27 01:11:00

In [15]:
time_diff = bday - today
print(f"Your birthday is in {time_diff}")

Your birthday is in 85 days, 8:56:16.153189

In [16]:
tdays = time_diff.days
print(f"Your birthday is in {tdays} days.")

Your birthday is in 85 days.

How to find time difference in seconds

In [17]:
tsecs = time_diff.total_seconds()
print(f"Your birthday is {tsecs} seconds away.")

Your birthday is 7376176.153189 seconds away.

How to find time difference in minutes

In [18]:
tmins = tsecs/60
print(f"Your birthday is {tmins} minutes away.")

Your birthday is 122936.26921981666 minutes away.

How to find time difference in hours

In [19]:
thrs = tsecs/(60*60)
print(f"Your birthday is {thrs} hours away.")

Your birthday is 2048.9378203302776 hours away.

# How to add Months to a Date in Python
## Add months to a date in Python

In [8]:
from datetime import datetime, date, time
from dateutil.relativedelta import relativedelta

In [3]:
date1=date(2023, 6,24)
print(date1)

2023-06-24

In [6]:
result=date1 + relativedelta(months=+3)
print(result)

2023-09-24

##  Add months to the current date

In [15]:
date_1=date.today()
print(date_1)

2023-10-19

In [17]:
result=date_1 + relativedelta(months=+2)
print(result)

2023-12-19

## Extracting the date after adding months

In [10]:
now=datetime.now()
print(now)

2023-10-19 22:33:21.253504

In [11]:
result=now + relativedelta(months=+5)
print(result)

2024-03-19 22:33:21.253504

In [13]:
print(result.date())

2024-03-19

## sing a formatted-string literal to format the date

In [14]:
print(f'{result:%Y-%m-%d %H:%M:%S}')

2024-03-19 22:33:21

## Creating a datetime object from a date string and adding months

In [19]:
my_str='09-04-2024'
date_1=datetime.strptime(my_str, '%m-%d-%Y')
print(date_1)

2024-09-04 00:00:00

In [20]:
result=date_1 + relativedelta(months=+2)
print(result)

2024-11-04 00:00:00

## Adding months to the current date using a datetime object

In [21]:
date_1 = datetime.today()
print(date_1)

result = date_1 + relativedelta(months=+3)
print(result)

2023-10-19 23:00:05.877029
2024-01-19 23:00:05.877029

# How to add Milliseconds to Datetime in Python

## Add milliseconds to datetime in Python

In [22]:
from datetime import datetime, timedelta

d = '2023-11-24 09:30:00.000123'

# convert string to datetime object
dt = datetime.strptime(d, '%Y-%m-%d %H:%M:%S.%f')

print(dt)  # 2023-11-24 09:30:00.000123

result = dt + timedelta(milliseconds=300)
print(result)  # 2023-11-24 09:30:00.300123

2023-11-24 09:30:00.000123
2023-11-24 09:30:00.300123

Using the datetime class to create a datetime object

In [23]:
dt = datetime(2023, 9, 24, 9, 30, 35)
print(dt)  # 2023-09-24 09:30:35

result = dt + timedelta(milliseconds=400)
print(result)  # 2023-09-24 09:30:35.400000

2023-09-24 09:30:35
2023-09-24 09:30:35.400000

## Adding milliseconds to the current time

In [24]:
now = datetime.today()
print(now)  # ğŸ‘‰ï¸ 2023-07-22 10:38:19.223431

result = now + timedelta(milliseconds=500)
print(result)  # ğŸ‘‰ï¸ 2023-07-22 10:38:19.723431

2023-10-19 23:13:07.603647
2023-10-19 23:13:08.103647

## Using the datetime.combine method to add milliseconds to a time

In [25]:
t = time(6, 25, 30, 123)
print(t)  # ğŸ‘‰ï¸ 06:25:30.000123

result = datetime.combine(date.today(), t) + timedelta(milliseconds=400)
print(result)  # ğŸ‘‰ï¸ 2023-07-22 06:25:30.400123

only_t = result.time()
print(only_t)  # ğŸ‘‰ï¸ 06:25:30.400123

06:25:30.000123
2023-10-19 06:25:30.400123
06:25:30.400123

## Extracting the time component after adding milliseconds to a datetime

In [26]:
t = time(6, 25, 30, 123)
print(t)  # ğŸ‘‰ï¸ 06:25:30.000123

result = datetime.combine(date.today(), t) + timedelta(milliseconds=400)
print(result)  # ğŸ‘‰ï¸ 2023-07-22 06:25:30.400123

# âœ… only get updated time
only_t = result.time()
print(only_t)  # ğŸ‘‰ï¸ 06:25:30.400123

06:25:30.000123
2023-10-19 06:25:30.400123
06:25:30.400123

# How to Add year(s) to a date in Python

## Add year(s) to a date in Python

In [27]:
def add_years(start_date, years):
    try:
        return start_date.replace(year=start_date.year + years)
    except ValueError:
        # ğŸ‘‡ï¸ preserve calendar day (if Feb 29th doesn't exist, set to 28th)
        return start_date.replace(year=start_date.year + years, day=28)


# âœ… add years to a date
my_str = '09-14-2023'  # ğŸ‘‰ï¸ (mm-dd-yyyy)
date_1 = datetime.strptime(my_str, '%m-%d-%Y')
print(date_1)  # ğŸ‘‰ï¸ 2023-09-14 00:00:00

result_1 = add_years(date_1, 3)
print(result_1)  # ğŸ‘‰ï¸ 2026-09-14 00:00:00

# -----------------------------------------------

# âœ… add years to the current date

current_date = datetime.today()
print(current_date)  # ğŸ‘‰ï¸ 2023-02-18 18:57:28.484966

result_2 = add_years(current_date, 2)
print(result_2)  # ğŸ‘‰ï¸ 2025-02-18 18:57:28.484966

2023-09-14 00:00:00
2026-09-14 00:00:00
2023-10-19 23:35:03.048589
2025-10-19 23:35:03.048589

In [30]:
def add_years(start_date, years):
    try:
        return start_date.replace(year=start_date.year + years)
    except ValueError:
        # ğŸ‘‡ï¸ preserve calendar day (if Feb 29th doesn't exist, set to 28th)
        return start_date.replace(year=start_date.year + years, day=28)

# âœ… add years to a date
my_str = '09-14-2023'  # ğŸ‘‰ï¸ (mm-dd-yyyy)
date_1 = datetime.strptime(my_str, '%m-%d-%Y')
print(date_1)  # ğŸ‘‰ï¸ 2023-09-14 00:00:00

result_1 = add_years(date_1, 3)
print(result_1)  # ğŸ‘‰ï¸ 2026-09-14 00:00:00

2023-09-14 00:00:00
2026-09-14 00:00:00

## The current date might be February 29th

In [31]:
def add_years(start_date, years):
    try:
        return start_date.replace(year=start_date.year + years)
    except ValueError:
        # ğŸ‘‡ï¸ preserve calendar day (if Feb 29th doesn't exist
        # set to March 1st)
        return start_date + (
            date(start_date.year + years, 1, 1) - date(start_date.year, 1, 1)
        )


# âœ… add years to a date
my_str = '02-29-2024'  # ğŸ‘‰ï¸ (mm-dd-yyyy)
date_1 = datetime.strptime(my_str, '%m-%d-%Y')
print(date_1)  # ğŸ‘‰ï¸ 2024-02-29 00:00:00

result_1 = add_years(date_1, 3)
print(result_1)  # ğŸ‘‰ï¸ 2027-03-01 00:00:00

2024-02-29 00:00:00
2027-03-01 00:00:00

## Adding years to the current date

In [ ]:
def add_years(start_date, years):
    try:
        return start_date.replace(year=start_date.year + years)
    except ValueError:
        return start_date.replace(year=start_date.year + years, day=28)

current_date = datetime.today()
print(current_date)  # ğŸ‘‰ï¸ 2023-07-22 20:24:47.538361

result_2 = add_years(current_date, 2)
print(result_2)  # ğŸ‘‰ï¸ 2025-07-22 20:24:47.538361

## Only extract the date components

In [32]:
def add_years(start_date, years):
    try:
        return start_date.replace(year=start_date.year + years)
    except ValueError:
        # ğŸ‘‡ï¸ preserve calendar day (if Feb 29th doesn't exist
        # set to March 1st)
        return start_date + (
            date(start_date.year + years, 1, 1) - date(start_date.year, 1, 1)
        )


now = datetime.now()
print(now)  # ğŸ‘‰ï¸ 2023-02-18 18:59:48.402212

result = add_years(now, 1)
print(result)  # ğŸ‘‰ï¸ 2024-02-18 18:59:48.402212

# ğŸ‘‡ï¸ only get a date object

2023-10-20 10:32:04.943923
2024-10-20 10:32:04.943923

## Formatting the date

In [33]:
def add_years(start_date, years):
    try:
        return start_date.replace(year=start_date.year + years)
    except ValueError:
        return start_date + (
            date(start_date.year + years, 1, 1) - date(start_date.year, 1, 1)
        )


now = datetime.now()
print(now)  # ğŸ‘‰ï¸ 2023-02-18 19:00:11.870596


result = add_years(now, 1)
print(result)  # ğŸ‘‰ï¸ 2024-02-18 19:00:11.870596


# ğŸ‘‡ï¸ format the date
print(f'{result:%Y-%m-%d %H:%M:%S}')  # ğŸ‘‰ï¸ 2024-02-18 19:00:11

2023-10-20 10:32:15.354334
2024-10-20 10:32:15.354334
2024-10-20 10:32:15

## Add years to a date using the date() class

In [28]:
def add_years(start_date, years):
    try:
        return start_date.replace(year=start_date.year + years)
    except ValueError:
        return start_date.replace(year=start_date.year + years, day=28)


date_3 = date(2023, 9, 7)
print(date_3)  # ğŸ‘‰ï¸ 2023-09-07

result_3 = add_years(date_3, 5)
print(result_3)  # ğŸ‘‰ï¸ 2028-09-07

2023-09-07
2028-09-07

In [29]:
def add_years(start_date, years):
    try:
        return start_date.replace(year=start_date.year + years)
    except ValueError:
        return start_date.replace(year=start_date.year + years, day=28)


# âœ… add years to current date (using date instead of datetime)
date_4 = date.today()
print(date_4)  # ğŸ‘‰ï¸ 2022-06-20

result_4 = add_years(date_4, 6)
print(result_4)  # ğŸ‘‰ï¸ 2028-06-20

2023-10-19
2029-10-19

# Python Difference Between Two Dates in Months and Years

## How to calculate years and months between two dates

In [34]:
from datetime import datetime
from dateutil import relativedelta

# get two dates
d1 = '14/8/2019'
d2 = '16/3/2022'

# convert string to date object
start_date = datetime.strptime(d1, "%d/%m/%Y")
end_date = datetime.strptime(d2, "%d/%m/%Y")

# Get the relativedelta between two dates
delta = relativedelta.relativedelta(end_date, start_date)
print('Years, Months, Days between two dates is')
print(delta.years, 'Years,', delta.months, 'months,', delta.days, 'days')

Years, Months, Days between two dates is
2 Years, 7 months, 2 days

## Get Only Months between two dates

In [36]:
# get two dates
d1 = '14/8/2019'
d2 = '16/3/2022'

# convert string to date object
start_date = datetime.strptime(d1, "%d/%m/%Y")
end_date = datetime.strptime(d2, "%d/%m/%Y")

# Get the relativedelta between two dates
delta = relativedelta.relativedelta(end_date, start_date)

# get months difference
res_months = delta.months + (delta.years * 12)
print('Total Months between two dates is:', res_months)

Total Months between two dates is: 31

## Difference between two dates in months using datetime module

In [37]:
from datetime import datetime

date_1 = '24/12/2021'
date_2 = '26/3/2022'

start = datetime.strptime(date_1, "%d/%m/%Y")
end = datetime.strptime(date_2, "%d/%m/%Y")

res = (end.year - start.year) * 12 + (end.month - start.month)
print('Difference between dates in months:', res)

Difference between dates in months: 3